#
# Ignore dot-files
#
.*

#
# We don't want to ignore the following even if they are dot-files
#
.gitignore
.gitattributes
.vscode

#
# Ignore gradle build output directory
#
build
bin

#
# Ignore unmodified files in server
#
server/*
!server/*.jar

# For server restart
!server/start.sh
!server/plugins/.gitkeep
